/*imported*/
.panel-dismiss {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  display: inline-block;
  background-color: white;
  border-radius: 30px;
  margin: 2px;
  border: 1px solid;
  cursor: pointer;
}

.panel-dismiss:hover {
  background-color: #FC4F30;
}
/*end of import*/

/* square button */
.square-button {
  font-size: 20px;
  font-family: Arial;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: preserve-3d;
  position: relative;
  transition: .5s;
}

.square-button::before {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 40px;
  background: #fff;
  color: #000;
  border: 3px solid #000;
  transition: .5s;
  transform-origin: right;
  transform: translateX(-100%) rotateY(90deg);
}

.square-button::after {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 40px;
  background: #000;
  color: #fff;
  border: 3px solid #000;
  transition: .5s;
  transform-origin: left;
  transform: translateX(0) rotateY(0deg);
}

.square-button:hover::before {
  transform: translateX(0) rotateY(0deg);
}

.square-button:hover::after {
  transform: translateX(100%) rotateY(90deg);
}

/* squre button customize */
#info-btn-course::before {
  border: 3px solid #f7786b;
  color: #f7786b;
}

#info-btn-course::after {
  border: 3px solid #f7786b;
  background: #f7786b;
}

#info-btn-zoom::before {
  border: 3px solid #80ced6;
  color: #80ced6;
}

#info-btn-zoom::after {
  border: 3px solid #80ced6;
  background: #80ced6;
}

#info-btn-calendar::before {
  border: 3px solid #749fc6;
  color: #749fc6;
}

#info-btn-calendar::after {
  border: 3px solid #749fc6;
  background: #749fc6;
}